.containerPrincipalModal{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(90%) blur(2px);
    z-index: 1000;
}

.contentPopUp{
    background-color: #fff;
    box-shadow: 5px 2px 10px #585858;
    width: 35vw;
    padding: 1rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.contentPopUp h3 {
    color: #333; 
    font-size: 1.5rem; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 1rem;
}

.formContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

.formContent input, .formContent textarea{
    width: 100%;
    padding: 0.3rem;
    resize: none;
    margin: 0.4rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formSelect {
    width: 100%;
    padding: 0.3rem;
    margin: 0.4rem 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
}

.buttonCard{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.buttonCard button:first-child {
    background-color: #ff6b6b;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonCard button:last-child {
    background-color: #5076f1;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.viewField p { 
    color: #5076f1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
}

.viewField label {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.formGroup {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
  }
  
  .inputError {
    border: 1px solid #ff4d4f !important;
  }
  
  .errorMessage {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
    text-align: left;
  }